


<div class="container">
<div class="container text-center">

  <img  style="border:100;" wclass="img-responsive"<%= image_tag "bienvenido.webp"%>
  <h3>Viaja con nosotros tu experiencia será única</h3>
  <p><em>Aeropuerto </em></p>
  <p>We have created a fictional band website. Lorem ipsum..</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>Name</strong></p><br>
      <img style="width:300px;height:175px;border:0;" class=img-circle person""<%= image_tag "1.jpg"%>


    </div>
    <div class="col-sm-4">
      <p><strong>¿Qué es AeroApp?</strong></p><br>
         <img class="img-circle person"<%= image_tag "0.jpg"%>
    </div>
    <div class="col-sm-4">
      <p><strong>Name</strong></p><br>
           <img style="width:300px;height:175px;border:0;" class="img-circle person" <%= image_tag "4.jpg"%>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img <%= image_tag "paris.jpg"%>

      <p><strong>Paris</strong></p>
      <p>Está situada a ambos márgenes de un largo meandro del río Sena, en el centro de la cuenca parisina, entre la confluencia del río Marne y el Sena, aguas arriba, y el Oise y el Sena, aguas abajo.</p>
      <button class="btn">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img <%= image_tag "newyork.jpg"%>
      <p><strong>New York</strong></p>
      <p>La ciudad también es la cuna de muchos movimientos culturales estadounidenses, como por ejemplo el renacimiento de Harlem</p>
<!--los p solo los ocupo para poder acomodar los container de las imganes-->
      <p> </p>
        <p> </p>
      <button class="btn">Buy Tickets</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
        <img <%= image_tag "sanfran.jpg"%>

      <p><strong>San Francisco</strong></p>
      <p>La ciudad de San Francisco fue fundada por colonos españoles en 1776. Construyeron un fuerte en lo que hoy es el Golden Gate y fundaron una misión llamada así en honor de Francisco de Asís.10​</p>
      <button class="btn">Buy Tickets</button>
    </div>
  </div>
</div>

<div class="bg-1">
  <div class="container ">
    <h3 class="text-center">Proximamente compra de boleton en linea</h3>
    <p class="text-center">Estaremos ofreciendo la compro de su boleto desde nuestro pagina.
      <br> Recuerde darnos like en nuestra pagina de facebook!</p>
  </div>
</div>
</div>
