<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @avion.matricula %>
</p>

<p>
  <strong>Nombspilot:</strong>
  <%= @avion.nombspilot %>
</p>

<p>
  <strong>Apellspilot:</strong>
  <%= @avion.apellspilot %>
</p>

<p>
  <strong>Destino:</strong>
  <%= @avion.destino %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @avion.origen %>
</p>

<p>
  <strong>Hsalidao:</strong>
  <%= @avion.hsalidao %>
</p>

<p>
  <strong>Fsalidao:</strong>
  <%= @avion.fsalidao %>
</p>

<p>
  <strong>Hllegadadestino:</strong>
  <%= @avion.hllegadadestino %>
</p>

<p>
  <strong>Fllegadadestino:</strong>
  <%= @avion.fllegadadestino %>
</p>

<%= link_to 'Edit', edit_avion_path(@avion) %> |
<%= link_to 'Back', avions_path %>
